@mixin box() {
  height: 100px;
  width: 100px;
  position: absolute;
  &:hover {
    border: 1px solid white;
  }
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
}
.box_topleft {
  background-color: lightcoral;
  @include box();
  top: 0;
  left: 0;
  animation: circle-topleft 4s infinite ease-out;
}

.box_topright {
  background-color: lightblue;
  @include box();
  top: 0;
  right: 0;
  animation: circle-topright 4s infinite ease-out;
}

.box_bottomleft {
  background-color: lightgreen;
  @include box();
  bottom: 0;
  left: 0;
  animation: circle-bottomleft 4s infinite ease-out;
}

.box_bottomright {
  background-color: lightgoldenrodyellow;
  @include box();
  bottom: 0;
  right: 0;
  animation: circle-bottomright 4s infinite ease-out;
}

/* animation keyframes */
@keyframes circle-topleft {
  100% {
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 0 0 100% 0;
  }
}
@keyframes circle-topright {
  100% {
    top: 50%;
    right: 50%;
    background-color: black;
    border-radius: 0 0 0 100%;
  }
}
@keyframes circle-bottomleft {
  100% {
    bottom: 50%;
    left: 50%;
    background-color: black;
    border-radius: 0 100% 0 0;
  }
}
@keyframes circle-bottomright {
  100% {
    bottom: 50%;
    right: 50%;
    background-color: black;
    border-radius: 100% 0 0 0;
  }
}
